@font-face {
  font-family: StyleScript-Regular;
  src: url(../assets/StyleScript-Regular.ttf);
}

.header {
    margin-top: 0px;
  }
  
  .headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: white;
  }
  
  .headerTitleLg {
    position: absolute;
    top: 20%;
    font-size: 100px;
    z-index: 2;
    letter-spacing: 0.3rem;
    font-family: StyleScript-Regular;
  }

  .headerTitleSm {
    position: absolute;
    top: 37%;
    font-size: 40px;
    letter-spacing: 0.4rem;
    z-index: 2;
    font-family: StyleScript-Regular;
  }


video {
    object-fit: cover;
    width: 100%;
    height: 750px;
    filter: brightness(60%);
}